<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Home</a></li>

    <!--<li uib-dropdown>
        <a class="dropdown-toggle" ng-model="vm.selectedSubscription" uib-dropdown-toggle>
            <span>{{vm.selectedSubscription.displayName}}</span><i class="glyphicon glyphicon-chevron-down" style="top: 5px; margin-left: 5px;"></i>
        </a>
        <ul class="dropdown-menu" ng-repeat="sub in vm.subscriptions" ng-click="vm.getPolicyAssignmentForSelectedSubcription(sub.rowKey)">
            <li class="exactFit" ng-bind-html="sub.displayName"></li>
        </ul>
    </li>-->
    <li>{{vm.subscription.displayName}}</li>
    <li><a ui-sref="manage-policy-list">Policies</a></li>
    <li><a ui-sref="manage-policy-assignments">Manage Policy Assignments</a></li>
    <li>Edit Policy Assignment</li>
</ol>

<div>
    <h2>Edit Policy Assignment</h2>

    <h4>Scope of Assignments &mdash; Subscription: {{vm.subscription.displayName}}</h4>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-md-1">Assigned</th>
                <th>Policy Definition</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pol in vm.policies">
                <td>
                    <toggle-switch ng-model="vm.assignments[pol.policy.id]" on-label="Yes" off-label="No"><toggle-switch>
                </td>
                <td>{{vm.getPolicyDefName(pol.policy)}}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="vm.saveAll()">Save Changes</button>
        </div>
    </div>
</div>
