<div class="modal-header">
    <h2>New Resource Group</h2>
</div>

<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <label>New Resource Group Name</label>
            <input type="text" class="form-control" placeholder="Resource Group Name" ng-model="vm.newResourceGroupName">
        </div>
        <div class="form-group">
            <label>Location</label>
            <select class="form-control" ng-model="vm.location" ng-options="l for l in vm.locations"></select>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()">Create</button>
    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>