<div>
    <h1>
        Policy List
        <button class="btn btn-primary" ui-sref="edit-policy( { subscriptionId: vm.selectedSubscription.rowKey} )">Add New Policy</button>
    </h1>

    <div class="row padded-row comment-text">
        <div class="col-md-3">
            <ui-select name="subscription" class="overFlow" ng-model="vm.selectedSubscription" theme="bootstrap" on-select="vm.subscriptionChanged()" required>
                <ui-select-match placeholder="Select Subscription...">
                    {{$select.selected.displayName | characters: 30}}
                </ui-select-match>
                <ui-select-choices repeat="sub in vm.subscriptions | filter: {displayName: $select.search}">
                    <span class="exactFit" ng-bind-html="sub.displayName | highlight:$select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div>
        <table class="table table-striped table-hover table-condensed table-fixed-layout middle-align">
            <thead>
                <tr>
                    <th class="col-md-3">Policy Name</th>
                    <th class="col-md-8">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="selectable" ng-repeat="item in vm.policies | orderBy: 'name'" ui-sref="edit-policy({ subscriptionId: vm.selectedSubscription.rowKey, id: item.policy.name })">
                    <td class="col-md-3">
                        <a class="btn btn-link">{{item.policy.name}}</a>
                    </td>
                    <td class="col-md-9 middle-align">{{item.policy.properties.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>