<div>
    <h3>Specify the Subscription(s) that will be managed by the Service Catalog</h3>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Subscription Name</th>
                <th>Subscription Id</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sub in vm.subscriptions">
                <td>
                    <toggle-switch ng-model="sub.isEnrolled" on-label="Yes" off-label="No"><toggle-switch>
                </td>
                <td>{{sub.displayName }}</td>
                <td>{{sub.id }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary pull-right" ng-click="vm.save()">Save</button>
</div>