<div>
    <h3>Select the Subscription for which you want to manage Security</h3>

    <div class="row padded-row comment-text">
        <div class="col-md-2">
            Subscription:
        </div>
        <div class="col-md-4">
            <ui-select name="subscription" class="overFlow" ng-model="vm.selectedSubscription" theme="bootstrap" on-select="vm.subscriptionChanged($item, $model)" required>
                <ui-select-match placeholder="Select Subscription...">
                    {{$select.selected.displayName | characters: 30}}
                </ui-select-match>
                <ui-select-choices repeat="sub in vm.subscriptions | filter: {displayName: $select.search}">
                    <span class="exactFit" ng-bind-html="sub.displayName | highlight:$select.search"></span>
                    <small>
                        ({{sub.id}})
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <h4 ng-show="vm.selectedSubscription">AD Groups Authorized to Provision in Subscription {{vm.selectedSubscription.displayName}}:</h4>
    <div class="row padded-row comment-text" ng-show="vm.selectedSubscription">
        <div class="col-md-2">
            AD Groups:
        </div>
        <div class="col-md-4">
            <ui-select multiple name="subscription" class="overFlow" ng-model="vm.selectedGroups" theme="bootstrap" required>
                <ui-select-match placeholder="Select Group(s)...">
                    {{$item.name | characters: 30}}
                </ui-select-match>
                <ui-select-choices repeat="group in vm.adGroups| orderBy: 'name' | filter: {name: $select.search}"
                                   refresh="vm.filterGroups($select.search, 'adGroups')">
                    <span class="exactFit" ng-bind-html="group.name | highlight:$select.search"></span>
                    <small>
                        ({{group.description}})
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row padded-row">
        <button class="btn btn-primary" ng-click="vm.save()">Save</button>
        <!--<button class="btn btn-primary" ng-click="vm.createCustomRole()">Create Custom Role</button>-->
    </div>
</div>