html,
body {
  height: 100%;
  padding-top: 20px;
}
/* Wrapper for page content to push down footer */
#applicationHost {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
h2 {
  padding-top: 20px;
}
h4 {
  overflow-wrap: break-word;
}
ui-select.overFlow {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
span.exactFit {
  white-space: pre-line;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  /* IE 5+ */
}
.overflowCheck {
  max-width: 350px;
  overflow-wrap: break-word;
  white-space: normal;
}
.whiteSpace {
  white-space: normal;
}
.comment-text {
  overflow-wrap: break-word;
}
.container {
  width: auto;
  max-width: 900px;
  /*padding: 0 15px;*/
  padding: 15px 15px 0 15px;
}
.container .credit {
  margin: 20px 0;
}
.admin-appHost {
  width: auto;
  max-width: 1250px;
  padding: 0 15px;
}
.admin-content {
  width: auto;
  max-width: 1250px;
  padding: 0px 0px 0px 0px;
}
.vertical-container {
  display: table;
}
.vertical-container .middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.bold-text {
  font-weight: bold;
}
.filter-control {
  margin-left: 10px;
}
.header-input > td {
  vertical-align: middle !important;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.form-horizontal .time-label {
  padding-top: 42px;
}
/*.ace_editor { height: 200px; }*/
.import-area {
  width: 840px;
  height: 250px;
}
#splash-page {
  z-index: 99999 !important;
}
#splash-page .bar {
  width: 100%;
}
.page-splash {
  z-index: 99999 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #424040;
  opacity: .9;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.page-splash-message {
  text-align: center;
  /*margin: 0 auto 0 auto;*/
  position: fixed;
  left: 50%;
  top: 20%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  /*color: #F58A00;*/
  color: #efb73e;
  padding: 0;
}
.angular-google-map-container {
  height: 400px;
}
.ace_editor {
  /*height: 700px !important;*/
  /*width: 800px;*/
  width: 100%;
  height: 100%;
  min-height: 100px;
  margin-bottom: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.ace_scrollbar-v {
  overflow-y: auto;
  display: none;
}
.padded-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed black !important;
}
.lvl-target {
  /*
				applied to all drop targets when a drag operation begins
				removed when the drag operation ends
				used to indicate drop targets on a page
				*/
  background-color: #ddd;
  opacity: .5;
}
[draggable] {
  /* not applied by the directive, but useful to indicate a draggable element */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
  border: 1px solid black;
}
.drop-target {
  position: relative;
  height: 470px;
  /*margin-bottom: -100px;*/
  /*height:100vh;*/
  /*width: 600px;*/
  /*border: 1px solid;*/
}
.drop-target .thumbnail {
  position: relative;
}
.drop-target .thumbnail button.close {
  position: absolute;
  top: 5px;
  right: 10px;
}
.task-spinner {
  position: relative;
  height: 20px;
}
.tasks-pane {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.center-content {
  display: block;
  text-align: center;
  vertical-align: middle;
}
.fixed-panel {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
}
.no-bullets {
  list-style-type: none;
}
.selectable {
  cursor: pointer;
}
.dropdown-menu > li {
  cursor: pointer;
}
table.table-fixed-layout {
  table-layout: fixed;
}
.btn.file-select-button {
  width: 80%;
  margin: auto;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn.file-select-button input[type="file"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
input.file-select {
  position: absolute;
  right: 100vw;
}
.modal-center-image {
  margin: 0 auto 10px;
  display: block;
  max-height: calc(100vh - 200px);
  max-width: 100%;
}
table.table-fixed-layout td a {
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.bootstrap-header-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
table.table td.middle-align {
  vertical-align: middle;
}
.no-word-wrap {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.tile-block {
  overflow: hidden;
  text-decoration: none;
  height: 225px;
  padding: 5px;
}
.tile-block > a,
.tile-block > div {
  display: block;
  cursor: pointer;
  padding: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
.tile-block > a:hover,
.tile-block > div:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.tile-block > a:hover:focus,
.tile-block > div:hover:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.15);
}
.removable-input-control {
  position: relative;
}
.removable-input-control > div {
  position: relative;
}
.removable-input-control > span.btn {
  position: absolute;
  height: calc(19em);
  right: 5px;
  top: -35px;
}
.removable-input-control input + span.btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: calc(19em);
  top: 29px;
  opacity: 0.25;
}
.removable-input-control input + span.btn:hover {
  opacity: 1;
}
ol.breadcrumb {
  margin-top: 12px;
  background-color: #ffffff;
}
.panel-title.title-with-xs-button > span {
  padding: 2px 0;
}
.form-inline.control-columns .form-group {
  margin-bottom: 10px;
}
.form-inline.control-columns .form-group > input,
.form-inline.control-columns .form-group > select,
.form-inline.control-columns .form-group > textarea,
.form-inline.control-columns .form-group > .input-group {
  width: 300px;
  /*Placeholder until we figure out how we want to style this.*/
  max-width: 66%;
}
.scrollit {
  width: 62%;
  float: left;
  left: 0;
  position: relative;
}
.fixed {
  position: fixed;
  width: 400px;
  float: right;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  min-height: 100%;
  height: auto !important;
  /*background: #FFFFFF;*/
  /* Negative indent footer by its height */
  margin: 0 auto -160px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}
.product-tile-container {
  padding: 4px;
}
.product-tile {
  padding: 10px;
  border: 1px solid lightgray;
  height: 250px;
  overflow: auto;
  /*-ms-flex: 1 1 350px;
    -webkit-flex: 1 1 350px;
    flex: 1 1 350px;*/
  position: relative;
}
.product-tile .product-header {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 45px;
}
.product-tile .product-header img {
  height: 45px;
  width: 45px;
}
.product-tile .product-price {
  position: absolute;
  top: 10px;
  right: 5px;
}
.product-tile-grid {
  display: flex;
  max-width: 100vw;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  align-items: center;
}
.product-tile-included-resources {
  font-size: smaller;
}
.product-tile-deploy {
  position: absolute;
  bottom: 0;
  margin-bottom: 7px;
  margin: 7px;
  right: 0;
}
.product-tile-productimage-div {
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
}
.product-tile-productimagevisible {
  height: 45px;
  width: 45px;
  visibility: visible;
}
.product-tile-productimagehidden {
  height: 45px;
  width: 45px;
  visibility: hidden;
}
.resource-container:hover {
  background: rgba(0, 0, 0, 0.1);
}
.resource-container .resource-display {
  cursor: pointer;
  max-height: calc(1.5em + 20px);
  overflow: hidden;
  -moz-transition: max-height 0.25s linear;
  -o-transition: max-height 0.25s linear;
  -webkit-transition: max-height 0.25s linear;
  transition: max-height 0.25s linear;
}
.resource-container .resource-display > .resource-header {
  padding-right: 5px;
}
.resource-container .resource-display > .resource-header .resource-header-image {
  height: 1em;
}
.resource-container .resource-display span {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.resource-container .resource-display.active {
  max-height: 100vh;
  overflow-y: auto;
}
.resource-container .resource-display.active > .resource-header > .header-chevron {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.resource-container .resource-display .header-chevron {
  -moz-transition: transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  -webkit-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
}
.resource-container .resource-display .resource-display:hover {
  background: rgba(0, 0, 0, 0.1);
}
.cursor-default {
  cursor: default;
}
.no-content-warning {
  display: block;
  text-align: center;
  opacity: 0.80;
  padding: calc(50vh - 150px - 5em) 0;
}
.text-2x {
  font-size: 2em;
}
.text-3x {
  font-size: 3em;
}
/***** TREE Styles *****/
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
tr.angular-ui-tree-empty {
  height: 100px;
}
.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}
/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}
.nodrop {
  background-color: #f2dede;
}
.tree-node-content {
  margin: 10px;
}
.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tag-field {
  width: 140px;
}
#ad-group-select {
  height: 140px;
}
/***** Wizard *****/
.bs-wizard {
  margin-top: 40px;
}
/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}
/*END Form Wizard*/
#feedbackPost {
    background-color: #0077d7;
    height: 170px;
    right: 0;
    position: fixed;
    top: 150px;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
div#feedbackPost:hover {
    background-position: -41px 0px;
    background-color: #104aae;
}
#feedbackPost label {
  display: block;
  margin-top: 65px;
  color: white;
  transform: rotate(90deg);
}
h3.uidialog {
  margin: 0px;
}
#dashboardButton1 {
    min-height: 170px;
    margin-bottom: 20px;
    border: 5px solid #0080e1;
    border-radius: 4px;
    position: fixed;
    top: 40%;
    left: 32%;
    margin-top: -50px;
    margin-left: -100px;
    width: 300px;
}

#dashboardButton2 {
    min-height: 170px;
    margin-bottom: 20px;
    border: 5px solid #0080e1;
    border-radius: 4px;
    position: fixed;
    top: 40%;
    left: 60%;
    margin-top: -50px;
    margin-left: -100px;
    width: 300px;
}

.dashboard-button-default {
    background-color: #3ea5ef;
}

.dashboard-button-default a {
    color: #fff;
}

#dashboardButtonLabel1 {
    line-height: 120px;
    margin-left: 30px;
    font-size: 20px;
}

#dashboardButtonLabel2 {
    line-height: 120px;
    margin-left: 1px;
    font-size: 20px;
}

