<form name="frmAssign" class="form-horizontal" novalidate>
    <div>
        <h2>Assign Blueprint</h2>


        <h4>Basics</h4>

        <div class="col-md-12">
            <div name="blueprintVersionForm" class="form-inline control-columns" novalidate>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Assignment Name: </label>
                    <input type="text" name="blueprintAssignmentName" ng-model="vm.assignmentName" class="form-control" placeholder="Assignment Name" required>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Location: </label>
                    <input type="text" name="blueprintLocation" ng-model="vm.location" class="form-control" placeholder="Location" required>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Blueprint definition version: </label>
                    <input type="text" name="blueprintDescriptionVersion" ng-model="vm.blueprintDefinitionVersion" class="form-control" placeholder="Blueprint definition version" required disabled>
                </div>
            </div>
            <br />
        </div>


        <h4>Lock Assignment</h4>
        <div>
            <div ng-init='vm.lockedAssigment=DontLock'>
                <input class="col-lg-2 col-xs-12 col-sm-3" type="radio" ng-model="vm.lockedAssigment" value="DontLock">  Don't Lock <br />
                <input class="col-lg-2 col-xs-12 col-sm-3" type="radio" ng-model="vm.lockedAssigment" value="DoNotDelete"> Do Not Delete <br />
                <input class="col-lg-2 col-xs-12 col-sm-3" type="radio" ng-model="vm.lockedAssigment" value="ReadOnly"> Read Only <br />
            </div>
            <br />

        </div>

        <h3>Artifact parameters</h3>
        <br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        ARTIFACT / PARAMETER
                    </th>
                    <th>
                        PARAMETER VALUE
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <div>
            <div class="col-lg-2 col-xs-12 col-sm-3">
                <h4>{{vm.targetScope}}</h4>
                <br />
            </div>
            
            <div class="col-md-12" ng-repeat="resourceGroup in vm.resourceGroups">
                <div class="form-inline control-columns">
                    <div class="form-group col-xs-12">
                        <label class="col-lg-2 col-xs-12 col-sm-3">
                            Resource Group: Name
                            <span ng-show="resourceGroup.info.metadata.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{resourceGroup.info.metadata.description}}" tooltip-placement="left"></span>
                        </label>
                        <input class="form-control" ng-model="resourceGroup.name"></input>
                    </div>

                    <div class="form-group col-xs-12">
                        <label class="col-lg-2 col-xs-12 col-sm-3">
                            Resource Group: Location
                            <span ng-show="resourceGroup.info.metadata.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{resourceGroup.info.metadata.description}}" tooltip-placement="left"></span>
                        </label>
                        <input class="form-control" ng-model="resourceGroup.location"></input>
                    </div>

                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>

                    </tr>
                </thead>
            </table>

            <div class="form-group" ng-repeat="parameter in vm.parameters">
                <label class="col-md-2 control-label">
                    {{vm.lodash.startCase(parameter.name)}}
                    <span ng-show="parameter.info.metadata.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{parameter.info.metadata.description}}" tooltip-placement="left"></span>
                </label>

                <div class="col-md-3" ng-show="{{vm.lodash.includes(['string', 'int'], parameter.info.type) && !parameter.info.allowedValues && !parameter.info.metadata.policy}}">
                    <input type="text" class="form-control" ng-model="parameter.value" placeholder="Enter Value" required />
                </div>
                <div class="col-md-3" ng-show="{{parameter.info.type === 'securestring' && !parameter.info.allowedValues}}">
                    <input type="password" class="form-control" ng-model="parameter.value" placeholder="Enter Value" required />
                </div>
                <div class="col-md-3" ng-show="{{vm.lodash.includes(['string', 'int'], parameter.info.type) && parameter.info.allowedValues}}">
                    <select class="form-control" ng-model="parameter.value" ng-options="p for p in parameter.info.allowedValues"></select>
                </div>
                <div class="col-md-3" ng-show="{{vm.lodash.includes(['string', 'int'], parameter.info.type) && !!parameter.info.metadata.policy}}">
                    <select class="form-control" ng-model="parameter.value" ng-options="p for p in vm.policyLookup[parameter.info.metadata.policy]"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="vm.assign()">Assign</button>
            </div>
        </div>

    </div>
</form>
