<div>

    <h2>Blueprint Details</h2>
    
    <div ng-hide="vm.showDiv">
        <label style="margin-top: 25px;" class="col-lg-2 col-xs-12 col-sm-3">This blueprint is not yet published!</label>
    </div>
    
    <div class="row" ng-show="vm.showDiv">
        <div class="col-md-12">
            <form name="blueprintVersionForm" class="form-inline control-columns" novalidate>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Name: </label>
                    <input type="text" name="blueprintName" class="form-control" ng-model="vm.blueprintName" placeholder="Blueprint Name" required disabled>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Description: </label>
                    <input type="text" name="blueprintDescription" class="form-control" ng-model="vm.blueprintDescription" placeholder="Description" required disabled>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Versions: </label>
                    <select ng-model="vm.selectedVersion" ng-options="v as v for v in vm.versionNames" ng-change="vm.onVersionChange(this)" class="form-control"></select>
                </div>
            </form>

            <button class="btn btn-success" ui-sref="get-blueprint-version({ subscriptionId: vm.subscriptionId, blueprintName: vm.blueprintName, selectedVersion: vm.selectedVersion})">Next</button>
        </div>
    </div>
</div>
