<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Home</a></li>
    <li>{{vm.subscriptionName}}</li>
    <li><a ui-sref="blueprints-home">Blueprints</a></li>
    <li><a ui-sref="blueprint-assignments({subscriptionId: vm.subscriptionId, subscriptionName: vm.subscriptionName})">Blueprint Assignments</a></li>
    <li>Update Blueprint Assignment</li>
</ol>

<form name="frmAssign" class="form-horizontal" novalidate>
    <div>
        <h2>{{vm.lodash.toUpper(vm.blueprintAssignment.name)}} : {{vm.lodash.toUpper("Update")}}</h2>
        <div id="basic" class="col-md-12">
            <h4>Basics</h4>
            <div class="col-md-12">
                <div name="blueprintVersionForm" class="form-inline control-columns" novalidate>
                    <div class="form-group col-xs-12">
                        <label class="col-lg-2 col-xs-12 col-sm-3">Assignment Name: </label>
                        <input type="text" id="blueprintAssignmentName" name="blueprintAssignmentName" ng-model="vm.blueprintAssignment.name" class="form-control" placeholder="Assignment Name" required disabled>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-lg-2 col-xs-12 col-sm-3">Location: </label>
                        <input type="text" class="form-control" name="blueprintAssignmentLocation" ng-model="vm.blueprintAssignment.location" required disabled>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-lg-2 col-xs-12 col-sm-3">Blueprint Version: </label>
                        <select class="form-control" id="BlueprintVersion" name="selectedVersion" ng-model="vm.selectedVersion" ng-change="vm.onVersionChange()" ng-options="v as v for v in vm.versionNames" required></select>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-lg-2 col-xs-12 col-sm-3">Lock Assignment: </label>
                        <select class="form-control" name="LockAssignment" ng-model="vm.lockAssignment" required>
                            <option ng-model="vm.lockAssignment" value="none">Don't Lock</option>
                            <option ng-model="vm.lockAssignment" value="allResourcesDoNotDelete">Do Not Delete</option>
                            <option ng-model="vm.lockAssignment" value="allResourcesReadOnly">Read Only</option>
                        </select>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div id="artifacts" class="col-md-12" style="margin-top:10px">
            <h4>Artifact parameters</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 450px;">
                            ARTIFACT / PARAMETER
                        </th>
                        <th>
                            PARAMETER VALUE
                        </th>
                    </tr>
                </thead>
            </table>
            <div>
                <div class="col-lg-2 col-xs-12 col-sm-3">
                    <h4>{{vm.lodash.startCase(vm.targetScope)}}</h4>
                    <br />
                </div>

                <div class="col-md-12" ng-repeat="resourceGroup in vm.resourceGroups">
                    <fieldset class="col-md-12">
                        <legend style="font-size: 15px; font-weight: bold">
                            {{resourceGroup.displayName ? resourceGroup.displayName : resourceGroup.key}}
                        </legend>
                        <div class="form-inline control-columns">
                            <div class="form-group col-xs-12">
                                <span class="col-lg-4 col-xs-12 col-sm-4">
                                    Resource Group: Name
                                </span>
                                <input class="form-control" placeholder="Enter Value" ng-model="resourceGroup.name" ng-disabled="resourceGroup.isNameAvailable" required/>
                            </div>

                            <div class="form-group col-xs-12">
                                <span class="col-lg-4 col-xs-12 col-sm-4">
                                    Resource Group: Location
                                </span>
                                <input class="form-control" placeholder="Enter Value" ng-model="resourceGroup.location" ng-disabled="resourceGroup.isLocationAvailable" required/>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                <div style="overflow:auto;margin-left:11px">
                    <div class="col-lg-2 col-xs-12 col-sm-3" ng-show="vm.parameters.length > 0">
                        <label style="margin-bottom: 20px;">Parameters</label>
                        <br />
                    </div>
                    <div class="col-md-12" ng-repeat="parameter in vm.parameters">
                        <div class="form-inline control-columns">
                            <div class="form-group col-xs-12">
                                <span class="col-lg-4 col-xs-12 col-sm-4">
                                    {{parameter.displayName}}
                                    <span ng-show="parameter.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{parameter.description}}" tooltip-placement="left"></span>
                                </span>
                                <input ng-show="{{vm.lodash.includes(['string', 'int', 'array', 'object'], parameter.type) && parameter.allowedValues.length === 0 && parameter.strongType === ''}}"
                                       type="text" class="form-control" ng-model="parameter.value" placeholder="Enter Value" required />
                                <input ng-show="{{parameter.type === 'secureString' && parameter.allowedValues.length === 0}}"
                                       type="password" class="form-control" ng-model="parameter.value" placeholder="Enter Value" required />
                                <select ng-show="{{vm.lodash.includes(['string', 'int'], parameter.type) && parameter.allowedValues.length > 0}}"
                                        class="form-control" ng-model="parameter.value" ng-options="p for p in parameter.allowedValues"></select>
                                <div class="form-inline" ng-show="{{vm.lodash.includes(['string', 'int', 'array', 'object'], parameter.type) && parameter.allowedValues.length === 0 && parameter.strongType !== 'PrincipalId' && parameter.strongType !== ''}}">
                                    <input type="text" class="form-control col-md-4" style="width:300px" ng-model="parameter.value" placeholder="Enter Value" required>
                                    <br />
                                    <span class="col-sm-4">(Provide comma seperated values.)</span>
                                </div>
                                <div class="form-inline" ng-show="{{vm.lodash.includes(['string', 'int', 'array', 'object'], parameter.type) && parameter.allowedValues.length === 0 && parameter.strongType === 'PrincipalId'}}">
                                    <input type="text" class="form-control col-md-4" style="width:259px" ng-model="parameter.value" placeholder="Enter Value" required>
                                    <a class="btn btn-warning" href="{{vm.portalUrlForUsers}}" target="_blank">
                                        <i class="glyphicon glyphicon-search" title="Search In Portal"></i>
                                    </a><br/>
                                        <span class="col-sm-4">(Search user, group or application in portal and Copy the Object Ids & paste it here as comma seperated values.)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button ng-disabled="!frmAssign.$valid" class="btn btn-primary" ng-click="vm.update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>