<form name="frmAssign" class="form-horizontal" novalidate>
    <div>
        <h2>Assign Blueprint</h2>


        <h4>Basics</h4>

        <div class="col-md-12">
            <div name="blueprintVersionForm" class="form-inline control-columns" novalidate>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Assignment Name: </label>
                    <input type="text" name="blueprintAssignmentName" ng-model="vm.assignmentName" class="form-control" placeholder="Assignment Name" required disabled/>
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Location: </label>
                    <input type="text" name="blueprintAssignmentLocation" ng-model="vm.location" class="form-control" placeholder="Location" required disabled/> 
                </div>
                <div class="form-group col-xs-12">
                    <label class="col-lg-2 col-xs-12 col-sm-3">Blueprint definition version: </label>
                    <select ng-model="vm.selectedVersion" ng-options="v as v for v in vm.versionNames" ng-change="vm.onVersionChange()" class="form-control"></select>
                </div>
            </div>
            <br />
        </div>


        <h4>Lock Assignment</h4>
        <div>
                <input class="col-lg-2 col-xs-12 col-sm-1" name="LockAssignment" type="radio" ng-model="vm.lockedAssigment" value="none">  Don't Lock <br />
                <input class="col-lg-2 col-xs-12 col-sm-1" name="LockAssignment" type="radio" ng-model="vm.lockedAssigment" value="allResourcesDoNotDelete"> Do Not Delete <br />
                <input class="col-lg-2 col-xs-12 col-sm-1" name="LockAssignment" type="radio" ng-model="vm.lockedAssigment" value="allResourcesReadOnly"> Read Only <br />
            <br />

        </div>

        <h3>Artifact parameters</h3>
        <br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th style="width: 450px;">
                        ARTIFACT / PARAMETER
                    </th>
                    <th>
                        PARAMETER VALUE
                    </th>
                </tr>
            </thead>
        </table>

        <div>
            <div class="col-lg-2 col-xs-12 col-sm-3">
                <h4 style="font-weight: bold">{{vm.lodash.startCase(vm.targetScope)}}</h4>
                <br />
            </div>

            <div class="col-md-12" ng-repeat="resourceGroup in vm.resourceGroups">
                <fieldset class="col-md-12">
                    <legend style="font-size: 15px; font-weight: bold">
                        {{resourceGroup.displayName ? resourceGroup.displayName : resourceGroup.key}}
                    </legend>
                    <div class="form-inline control-columns">
                        <div class="form-group col-xs-12">
                            <span class="col-lg-4 col-xs-12 col-sm-3">
                                Resource Group: Name
                                <span ng-show="resourceGroup.info.metadata.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{resourceGroup.info.metadata.description}}" tooltip-placement="left"></span>
                            </span>
                            <input class="form-control" ng-model="resourceGroup.name" ng-disabled="resourceGroup.isNameAvailable" required/>
                        </div>

                        <div class="form-group col-xs-12">
                            <span class="col-lg-4 col-xs-12 col-sm-3">
                                Resource Group: Location
                                <span ng-show="resourceGroup.info.metadata.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{resourceGroup.info.metadata.description}}" tooltip-placement="left"></span>
                            </span>
                            <input class="form-control" ng-model="resourceGroup.location" ng-disabled="resourceGroup.isLocationAvailable" required/>
                        </div>
                    </div>
                </fieldset>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>

                    </tr>
                </thead>
            </table>
            <div>
                <div class="col-lg-2 col-xs-12 col-sm-3" ng-show="{{vm.parameters.length > 0}}">
                    <label style="margin-bottom: 20px;">Parameters</label>
                    <br />
                </div>
                <div class="form-group col-md-12" ng-repeat="parameter in vm.parameters">
                    <span class="col-lg-4 col-xs-12 col-sm-3">
                        {{parameter.info.metadata.displayName}}
                        <span ng-show="parameter.info.metadata.description" class="glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip="{{parameter.info.metadata.description}}" tooltip-placement="left"></span>
                    </span>

                    <div class="col-md-3" ng-show="{{vm.lodash.includes(['string', 'int', 'array', 'object'], parameter.info.type) && parameter.info.allowedValues.length === 0}}">
                        <input type="text" class="form-control" ng-model="parameter.value" placeholder="Enter Value" required />
                    </div>
                    <div class="col-md-3" ng-show="{{parameter.info.type === 'secureString' && parameter.info.allowedValues.length === 0}}">
                        <input type="password" class="form-control" ng-model="parameter.value" placeholder="Enter Value" required />
                    </div>
                    <div class="col-md-3" ng-show="{{vm.lodash.includes(['string', 'int'], parameter.info.type) && parameter.info.allowedValues.length > 0}}">
                        <select class="form-control" ng-model="parameter.value" ng-options="p for p in parameter.info.allowedValues"></select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="!frmAssign.$valid" class="btn btn-primary" ng-click="vm.assign()">Assign</button>
            </div>
        </div>

    </div>
</form>
