<div class="modal-header">
    <h2>Properties</h2>
</div>

<div class="modal-body">
    <form class="form">
        <div style="overflow:auto;">
            <table class="col-md-12">
                <tr>
                    <td style="width:50%">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Blueprint Name" ng-model="vm.blueprint.name" disabled>
                        </div>
                    </td>
                    <td style="width:50%;padding-left:5px">
                        <div class="form-group">
                            <label>Scope</label>
                            <input type="text" class="form-control" placeholder="Scope" ng-model="vm.blueprint.scope" disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <label>Path</label>
                            <input type="text" class="form-control" placeholder="Blueprint Path" ng-model="vm.blueprint.id" disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:50%;">
                        <div class="form-group">
                            <label>Created Date</label>
                            <input type="text" class="form-control" placeholder="Created Date" ng-model="vm.createdDate" disabled>
                        </div>
                    </td>
                    <td style="width:50%; padding-left:5px">
                        <div class="form-group">
                            <label>Last Modified Date</label>
                            <input type="text" class="form-control" placeholder="Last Modified Date" ng-model="vm.lastModifiedDate" disabled>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description" ng-model="vm.blueprint.description" disabled>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.onAssignButtonClick()">Assign</button>
    <button class="btn btn-default" ng-click="vm.close()">Close</button>
</div>